torchsummary==1.5.1
torch_snippets==0.560
opencv-python==4.13.0.92
python-chess==1.999
chess==1.11.2
stockfish==5.2.0
pandas==3.0.2
numpy==2.4.2
matplotlib==3.10.8
seaborn==0.13.2
scikit-learn==1.8.0
Pillow==12.1.1
